/* Tailwind CSS overrides for Agent Trading Cards */

/* Reset padding and margins for a clean slate */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Set the font and background for the entire page */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #F7FAFC;
  color: #333;
}

/* Paragraph styles */
p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* Style the header and footer */
.header, .footer {
  background-color: #FFFFFF;
  color: #333333;
  text-align: center;
  padding: 1rem 0;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.header-logo {
  flex: 0 1 auto;
  max-width: 250px;
  margin: 0 auto;
}

.nav-link {
  color: #333333;
  padding: 0.5rem 1rem;
  text-decoration: none;
  margin: 0 10px;
}

.nav-link:hover {
  color: #666666;
}

.title-container {
  text-align: center;
  padding: 2rem 0;
}

h1, h2 {
  color: #333333;
  margin: 0.5rem 0;
}

/* Main content padding */
.main {
  padding: 2rem;
}

/* Card styles */
.card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem auto; /* Centering the card */
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  display: block;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: white; 
}

.card-summary {
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* Email link styles */
.email-link {
  background-color: #0055ff;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  display: block;
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}

/* Responsive adjustments for screens wider than 768px */
@media (min-width: 768px) {
  .responsive-card-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 1.5rem;
  }
}

/* Responsive adjustments for screens 768px wide or less */
@media (max-width: 768px) {
  .navbar, .nav-section {
    justify-content: center;
    flex-basis: 100%;
  }

  .header-logo {
    margin: 0 auto 10px;
  }

  .main {
    padding: 1rem;
  }

  .card {
    margin-bottom: 2rem;
  }

  .card-content {
    margin-top: -25px;
  }

  .card-title {
    font-size: 1.1rem;
    color: white;
    margin-top: 8px;
    padding-top: 12px;
  }

  .card-summary {
    -webkit-line-clamp: 2;
  }

  .email-link {
    margin-top: 0.75rem;
  }
}
