<!-- templates/dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta name="twitter:card" content="" />
  <meta name="twitter:title" content="" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <title>Loading...</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
  
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.4/dist/tailwind.min.css" rel="stylesheet">
  <script>
    // document.addEventListener('DOMContentLoaded', function() {
    //   fetch('static/content.json')
    //     .then(response => response.json())
    //     .then(data => {
    //       // Update Meta Tags
    //       document.querySelector('meta[property="og:image"]').setAttribute("content", data.meta.ogImage);
    //       document.querySelector('meta[property="og:url"]').setAttribute("content", data.meta.ogUrl);

    //       document.querySelector('meta[property="og:title"]').setAttribute("content", data.meta.ogTitle);

    //       document.querySelector('meta[property="og:description"]').setAttribute("content", data.meta.ogDescription);
    //       document.querySelector('meta[name="twitter:card"]').setAttribute("content", data.meta.twitterCard);
    //       document.querySelector('meta[name="twitter:title"]').setAttribute("content", data.meta.twitterTitle);
    //       document.querySelector('meta[name="twitter:description"]').setAttribute("content", data.meta.twitterDescription);
    //       document.querySelector('meta[name="twitter:image"]').setAttribute("content", data.meta.twitterImage);


    //       // Update Title, Headers, and Footer
    //      document.title = data.title;
    //       document.getElementById('header-logo').src = data.logo_url;
  
    //       // Since h1 and h2 are direct children of a div with class `container`, you can use the :nth-of-type selector to target them
    //       let containerDiv = document.querySelector('.container');
    //       let h1 = containerDiv.querySelector('h1'); // This assumes h1 is the first h1 element inside .container
    //       let h2 = containerDiv.querySelector('h2'); // This assumes h2 is the first h2 element inside .container
  
    //       if (h1) h1.innerText = data.h1;
    //       if (h2) h2.innerText = data.h2;
  
    //       document.querySelector('.footer').innerText = data.footer;
    //       document.getElementById('webCopyContainer').innerText = data.web_copy;
    //       document.getElementById('social_image').src = data.social_image_url;
    //     })
    //     .catch(error => console.error('Error loading header data:', error));
    // });
      // Enhanced function to copy text to clipboard and modify button appearance
      function copyToClipboard(text, buttonId) {
        navigator.clipboard.writeText(text).then(function() {
          // Success: Change button appearance and text
          var button = document.getElementById(buttonId);
          button.style.backgroundColor = "#4CAF50"; // Green color
          button.innerText = "Copied"; // Update button text
          // Optionally, reset button after a delay
          setTimeout(function() {
            button.style.backgroundColor = ""; // Reset background color
            button.innerText = button.getAttribute("data-original-text"); // Reset button text
          }, 2000); // Adjust delay as needed
        }).catch(function(error) {
          console.error('Error copying text: ', error);
        });

          function loadWebCopy() {
            fetch('{{ url_for('static', filename='content.json') }}') // Adjust the path as necessary
              .then(response => response.json())
              .then(data => {
                const webCopy = data.web_copy;
                document.getElementById('webCopyContainer').innerText = webCopy;
              })
              .catch(error => console.error('Error loading web copy:', error));
          }

          // Call loadWebCopy on page load
          window.addEventListener('DOMContentLoaded', (event) => {
            loadWebCopy();
          });
        
      }
    </script>
</head>
<body>
  <div id="header">
    <div class="fixed top-0 left-0 right-0 z-50 bg-black text-white py-2 px-4 flex justify-between items-center">
        <a href="/">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Semantic Life" class="w-32">
        </a>
        <div class="flex">
            <a href="/" class="mr-4">
                <button class="bg-gray-500 hover:bg-blue-500 text-white py-2 px-4 rounded">Home</button>
            </a>
            <a href="{{ url_for('auth_blueprint.logout') }}">
                <button class="bg-gray-700 hover:bg-red-700 text-white py-2 px-4 rounded">Logout</button>
            </a>
        </div>
    </div>


          <button id="close-banner" class="text-white hover:text-gray-200 focus:outline-none">
              <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                  <path d="M18.364 5.636l-3.536 3.536L18.364 5.636zM5.636 18.364l3.536-3.536L5.636 18.364z"></path>
                  <path d="M18.364 18.364l-3.536-3.536 3.536 3.536zM5.636 5.636l3.536 3.536L5.636 5.636z"></path>
              </svg>
          </button>
      </div>
  <div id="loadingPlaceholder" style="position:fixed; top:0; left:0; width:100%; height:100%; background:white; z-index:1000; display:flex; justify-content:center; align-items:center;">
      <img id="loading" src="static/loading.gif" style="max-width:60px;" alt="Loading" />
  </div>
  
  
  <div class="text-center md:absolute md:top-6 md:left-4 mx-auto">
    

    <img src="{{ url_for('static', filename='logo.png') }}" alt="Company Logo" class="mx-auto w-32">
  </div>
  

  <div class="container mx-auto mt-4 mb-8">
  
    <div class="font-bold mb-4 text-center text-3xl mt-12">DASHBOARD: {% if agent_source.filename[:-5] == "agents" %}All Agents{% else %}{{ agent_source.filename[14:-5] }}{% endif %}</div>
    <!-- NOT USING <section id="webCopySection" class="text-center p-4 bg-gray-100">
        <div class="container mx-auto">
          <h1 class="font-bold mb-4 text-center text-xl">Loading...</h1> 
        
          <h2 class="mb-4 text-center">Loading...</h2>  
         
          
          <div id="webCopyContainer" class="webCopyContainer"></div>
        </div>
    </section>

    
    <div class="text-center md:absolute md:top-4 md:right-6 mx-auto">
        <button onclick="window.location.href='/'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out mx-auto md:mx-0">HOME</button>
    </div> -->
  <div class="mt-1 relative rounded-md shadow-sm">
          <form id="agents-file-form" method="get" action="{{ url_for('dashboard_blueprint.dashboard') }}" class="max-w-xl mx-auto my-8">
              <label for="agents-file" class="block text-xl font-bold text-gray-700">Select Moment to View</label>
              <div class="mt-1 relative rounded-md shadow-sm">
                  <select id="agents-file" name="agents_file" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md">
                    <option value="agents/agents.json">All Agents</option>
                    {% for copy in agent_copies %}
                        {% if copy.endswith('.json') %}
                            <option value="agents/copies/{{ copy }}">{{ copy.split('/')[-1][:-5] }}</option>
                          {% endif %}
                      {% endfor %}
                  </select>
              </div>
              <button type="submit" class="mt-3 inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:border-blue-700 focus:ring-blue active:bg-blue-700 transition duration-150 ease-in-out">
                  Load Agents
              </button>
          </form>
  </div>

    
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 ml-auto mr-auto mb-4 mt-4">

      {% for agent in agents %}
        <div class="bg-white border rounded-lg shadow overflow-hidden">
          <img src="{% if agent.photo_path.startswith('agents/copies/') %}/{{ agent.photo_path }}{% else %}/agents/pics/{{ agent.photo_path.split('/')[-1] }}{% endif %}" alt="Agent Photo" class="w-full h-64 object-cover rounded-full">
          <div class="p-4">
            <h3 class="text-lg font-bold">{{ agent.id }}</h3>
            <h4 class="text-lg font-bold">{{ agent.jobtitle }}</h4>
            
            <!-- Add a min-height class to the paragraph for consistent height -->
            <p >{{ agent.summary }}</p> 
            <div class="mt-4 flex justify-left gap-2">
              <a href="mailto:{{ agent.email }}" class="bg-blue-500 hover:bg-blue-700 text-white text-sm py-1 px-2 rounded">Email</a>
              <button id="copyEmail{{ agent.id }}" class="bg-blue-500 hover:bg-blue-700 text-white text-sm rounded py-1 px-2" data-original-text="Copy Email Address" onclick="copyToClipboard('{{ agent.email }}', 'copyEmail{{ agent.id }}')">Copy Email</button>
              <button id="copyShortcode{{ agent.id }}" class="bg-gray-200 hover:bg-gray-400 text-black text-sm py-1 px-2 rounded" onclick="copyToClipboard('@@({{ agent.id }})', 'copyShortcode{{ agent.id }}')">Copy Shortcode</button>

            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- Instructions Section -->
    <div class="image-section" style="display: none;">
      <img id="social_image" class="social_image mx-auto justify-center" src="" alt="Social Image"> 

    </div>
        <div id="shortcodes-section" class="bg-white rounded-lg shadow px-6 py-4 mx-auto max-w-4xl relative">
          <button id="close-shortcodes" class="absolute top-0 right-0 mt-2 mr-2 bg-gray-100 hover:bg-gray-200 rounded-full text-gray-800 p-1 focus:outline-none">
              <svg class="h-6 w-6" viewBox="0 0 24 24">
                  <path d="M6 18L18 6M6 6l12 12" stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
          </button>

          <div class="text-xl font-bold text-gray-800">Shortcodes</div>

        <div class="mt-4">
            <h4 class="font-semibold text-lg text-blue-600">Call Agents from Email Body</h4>
            <div> class="text-gray-600">@@(Agent Name)</div>
        </div>

        <div class="mt-4">
            <h4 class="font-semibold text-lg text-blue-600">Create a Temporary Synth</h4>
            <div class="text-gray-600">@@.creator(Embody a synth that...)</div>
        </div>

        <div class="mt-4">
            <h4 class="font-semibold text-lg text-blue-600">Long Responses (Multi-Chunk)</h4>
            <div class="text-gray-600">!detail_start!<br>instruction or content<br>!split!<br>instruction or content<br>!detail_stop!</div>
        </div>

        <div class="mt-4">
            <h4 class="font-semibold text-lg text-blue-600">Summarize</h4>
            <div class="text-gray-600">!summarize_start!<br>content<br>!summarize_stop!</div>
        </div>

        <div class="mt-4">
            <h4 class="font-semibold text-lg text-blue-600">Summarize with Modifier e.g. JSON Return</h4>
            <div class="text-gray-600">!summarize.json_start!<br>content<br>!summarize.json_stop!</div>
        </div>

        <!-- Code Links Section -->
        <div class="pb-12 mt-6 mb-12">
            <h3 class="text-lg font-bold text-gray-800">Code:</h3>
            <p class="text-blue-600 hover:text-blue-800 visited:text-purple-600">
                <a href="https://github.com/semanticsean/ATAT" target="_blank">Github / Readme</a><br>
                <a href="https://replit.com/@realityinspector/ATAT-Email-Client-for-AI-Agents-v03-ALPHA-public" target="_blank">Setup on Replit in 5 Minutes</a><br>
                <a href="https://x.com/seanmcdonaldxyz" target="_blank">Follow Sean</a><br>
                <a href="https://x.com/semanticlife" target="_blank">Follow Semantic Life</a>
            </p>
        </div>
    </div>
    <!-- End of Instructions Section -->

    
  </div>

  </div>
</div>
  

  <footer class="footer bg-white shadow-lg p-4 text-center bottom-0 inset-x-0">
    © 2024 Semantic Life - All rights reserved. @@™. The terms "Synthetic Time Travel", "ATAT", "@@" are all property of Semantic Life. 
    <a href="https://semantic-life.com/terms" class="text-blue-600 hover:underline">Terms of Service</a> and 
    <a href="https://semantic-life.com/privacy" class="text-blue-600 hover:underline">Privacy Policy</a>
  </footer>
  <img src="" id="header-logo" class="header-logo mt-4 mb-4">
  <script>
  window.onload = function() {
    // Your existing code here for adjustments and loading data

    // Vanilla JavaScript to hide the loading placeholder
    var loadingPlaceholder = document.getElementById('loadingPlaceholder');
    if (loadingPlaceholder) {
      loadingPlaceholder.style.opacity = '0';
      setTimeout(function() {
        loadingPlaceholder.style.display = 'none';
      }, 600); // Adjust the timeout to match the fadeOut speed you desire
    }
  };
  </script>

  <script>
  // Script to handle the closing of the shortcodes section
  document.getElementById('close-shortcodes').addEventListener('click', function() {
      document.getElementById('shortcodes-section').style.display = 'none';
  });
  </script>
    
</body>

</html>  
