<!-- header.html -->
<div id="header">
<div
  class="fixed top-0 left-0 right-0 z-50 bg-black text-white py-2 px-4 flex justify-between items-center"
>
  <a href="/">
    <img
      src="{{ url_for('static', filename='logo.png') }}"
      alt="Semantic Life"
      class="w-32"
    />
  </a>
  <div class="flex">
    <a href="/" class="mr-2">
      <button
        class="bg-gray-500 hover:bg-blue-500 text-white py-1 px-2 md:py-2 md:px-4 rounded md:text-md text-sm"
      >
        Home
      </button>
    </a>
    <a href="/help" class="mr-2">
      <button
        class="bg-gray-500 hover:bg-blue-500 text-white py-1 px-2 md:py-2 md:px-4 rounded md:text-md text-sm"
      >
        Help
      </button>
    </a>
    <a href="{{ url_for('auth_blueprint.logout') }}">
      <button
        class="bg-gray-700 hover:bg-red-700 text-white py-1 px-2 md:py-2 md:px-4 rounded md:text-md text-sm"
      >
        Logout
      </button>
    </a>
  </div>
</div>

  