<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATAT: AI Agents Over Email by Semantic Life</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
</head>
<body>
  <header class="header">
      <nav class="navbar">
          <div class="nav-section">
              
          </div>
          <img src="{{ url_for('static', filename='logo.png') }}" class="header-logo">
          <div class="nav-section">
              
          </div>
      </nav>
  </header>
  <div class="title-container">
      <h1>ATAT: AI Agents Over Email</h1>
      <h2>By Semantic Life</h2>
  </div>

    <main class="main">
      <div class="responsive-card-container">
            {% for agent in agents %}
            {% if agent.id and agent.summary and agent.keywords and agent.photo_path %}
            <div class="card">
                <div class="card-image-wrapper">
                    <!-- Updated image src to point to the new route -->
                    <img src="/agents/pics/{{ agent.photo_path.split('/')[-1] }}" class="card-image">
                </div>
                <div class="card-content">
                    <h2 class="card-title">{{ agent.id }}</h2>
                    <p class="card-summary">{{ agent.summary }}</p>
                    <div class="card-keywords">
                        {% for keyword in agent.keywords %}
                        <span class="keyword">{{ keyword }}</span>
                        {% endfor %}
                    </div>
                    <a href="mailto:{{ agent.email }}" class="email-link">Email</a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </main>
    <footer class="footer">
        Developed by x.com/@seanmcdonaldxyz for x.com/@semanticlife. 
        <div class="footer-links">
          
        </div>
    </footer>
</body>
</html>  
