<!DOCTYPE html>
<html lang="en">
<head>
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta name="twitter:card" content="" />
  <meta name="twitter:title" content="" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="" />


    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <title>Loading...</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      fetch('static/content.json') // Adjust the path to your headers.json file
        .then(response => response.json())
        .then(data => {
          // Update Meta Tags
          document.querySelector('meta[property="og:title"]').setAttribute("content", data.meta.ogTitle);
          document.querySelector('meta[property="og:description"]').setAttribute("content", data.meta.ogDescription);
          document.querySelector('meta[property="og:image"]').setAttribute("content", data.social_image_url);
          document.querySelector('meta[property="og:url"]').setAttribute("content", data.meta.ogUrl);
          document.querySelector('meta[name="twitter:card"]').setAttribute("content", data.meta.twitterCard);
          document.querySelector('meta[name="twitter:title"]').setAttribute("content", data.meta.twitterTitle);
          document.querySelector('meta[name="twitter:description"]').setAttribute("content", data.meta.twitterDescription);
          document.querySelector('meta[name="twitter:image"]').setAttribute("content", data.social_image_url);

          // Update Title, Headers, and Footer
          document.title = data.title;
          document.getElementById('header-logo').src = data.logo_url;
          document.querySelector('.header h1').innerText = data.h1;
          document.querySelector('.header h2').innerText = data.h2;
          document.querySelector('.footer').innerText = data.footer;
          document.getElementById('webCopyContainer').innerText = data.web_copy;
          document.getElementById('social_image').src = data.social_image_url;


          // Optional: Update any additional elements as needed
        })
        .catch(error => console.error('Error loading header data:', error));
    });
  </script>
    <script>
      // Enhanced function to copy text to clipboard and modify button appearance
      function copyToClipboard(text, buttonId) {
        navigator.clipboard.writeText(text).then(function() {
          // Success: Change button appearance and text
          var button = document.getElementById(buttonId);
          button.style.backgroundColor = "#4CAF50"; // Green color
          button.innerText = "Copied"; // Update button text
          // Optionally, reset button after a delay
          setTimeout(function() {
            button.style.backgroundColor = ""; // Reset background color
            button.innerText = button.getAttribute("data-original-text"); // Reset button text
          }, 2000); // Adjust delay as needed
        }).catch(function(error) {
          console.error('Error copying text: ', error);
        });

          function loadWebCopy() {
            fetch('{{ url_for('static', filename='content.json') }}') // Adjust the path as necessary
              .then(response => response.json())
              .then(data => {
                const webCopy = data.web_copy;
                document.getElementById('webCopyContainer').innerText = webCopy;
              })
              .catch(error => console.error('Error loading web copy:', error));
          }

          // Call loadWebCopy on page load
          window.addEventListener('DOMContentLoaded', (event) => {
            loadWebCopy();
          });
        
      }
    </script>
</head>
<body>
  <header class="header">
      <nav class="navbar">
          <img src="" id="header-logo" class="header-logo">
      </nav>
      <div class="title-container">
        <img id="social_image" class="social_image" src="" alt="Social Image"> 
        <h1>Loading...</h1> 
        <h2>Loading...</h2> 
        <p id="webCopyContainer" class="webCopyContainer"></p>
      </div>
  </header>

                      <main class="main">
                      {% if agents %}
                          <div class="responsive-card-container">
                              {% for agent in agents %}
                                  {% if agent.id and agent.summary and agent.photo_path and agent.jobtitle %}
                                      <div class="card">
                          <div class="card-image-wrapper">
                              <img src="/agents/pics/{{ agent.photo_path.split('/')[-1] }}" class="card-image">
                          </div>
                          <div class="card-content">
                              <h2 class="agent-id">{{ agent.id }}</h2>
                              <h3 class="agent-jobtitle">{{ agent.jobtitle }}</h3>
                              <p class="card-summary">{{ agent.summary }}</p>
                            <!-- <div class="card-keywords">
                                  {% for keyword in agent.keywords %}
                                      <span class="keyword">{{ keyword }}</span>
                                  {% endfor %}
                              </div> !--> 
                            <div class="card-actions">

                              
                              <button class="button" onclick="location.href='mailto:{{ agent.email }}'">Email {{ agent.id }}</button>
                              

                              <button id="copyEmail{{ agent.id }}" class="button" data-original-text="Copy Email Address" onclick="copyToClipboard('{{ agent.email }}', 'copyEmail{{ agent.id }}')">Copy Email Address</button>
                              <button id="copyShortcode{{ agent.id }}" class="button" data-original-text="Copy Shortcode" onclick="copyToClipboard('@@({{ agent.id }})', 'copyShortcode{{ agent.id }}')">Copy Shortcode</button>

                          

                              
                          
                            </div>
                      </div>
                                        
                                      </div>
                                        
                  {% endif %}
              {% endfor %}
          </div>
                        <div class="shortcode-container">
                            <h2>Shortcodes</h2>
                            <div class="shortcode">
                              <h3>Call Additional Agents by Name</h3>
                              <p>@@(Agent Name)</p>
                            </div>
                            <div class="shortcode">
                              <h3>Create a Temporary Agent</h3>
                              <p>@@.creator(Embody an agent that...)</p>
                            </div>
                            <div class="shortcode">
                              <h3>Chunk / Multi-pass API Calls / Assemble</h3>
                              <p>!detail_start!<br>instruction or content<br>!split!<br>instruction or content<br>!detail_stop!</p>
                            </div>
                            <div class="shortcode">
                              <h3>Summarize</h3>
                              <p>!summarize_start!<br>content<br>!summarize_stop!</p>
                            </div>
                            <div class="shortcode">
                              <h3>Summarize with Modifier e.g. JSON Return</h3>
                              <p>!summarize.json_start!<br>content<br>!summarize.json_stop!</p>
                            </div>
                          </div>

                          <div class="shortcode-container">
                          <div class="shortcode">
                          <h2>Code:</h2>
                            <h3><a href="https://github.com/semanticsean/ATAT" target="_blank">Github / Readme</a></h3>
                            <h3><a href="https://replit.com/@realityinspector/ATAT-Email-Client-for-AI-Agents-v03-ALPHA-public" target="_blank">Setup on Replit in 5 Minutes</a> </h3>

                          <h3>Follow Sean <a href="https://x.com/seanmcdonaldxyz" target="_blank">x.com/@seanmcdonaldxyz</a></h3>
                            <h3>Follow Semantic Life <a href="https://x.com/semanticlife" target="_blank">x.com/@seanmcdonaldxyz</a></h3>
                          </div>
                        </div>

                        <!-- All Agents Card -->
                        <div class="shortcode-container">
                          <div class="card-content">
                            <h2>ALL AGENTS</h2>
                            <table class="agents-table">
                              <thead>
                                <tr>
                                  <th>Agent</th>
                                  <th>Job</th>
                                  <th>Email</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for agent in agents %}
                                  <tr>
                                    <td>{{ agent.id }}</td>
                                    <td>{{ agent.jobtitle[:30] }}{{ '...' if agent.jobtitle|length > 30 else '' }}</td>
                                    <td>{{ agent.email.split('@')[0] }}@</td>
                                    
                                  </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                          
      {% endif %}

                        
  </main>
    <footer class="footer">
        
        <div class="footer-links">
          
        </div>
    </footer>
</body>
</html>  
