<!-- home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Polling Session</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.4/dist/tailwind.min.css">
    <link rel="stylesheet" href="static/abe.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="bg-blue-50">
    <div class="min-h-screen flex flex-col items-center justify-center px-4 sm:px-6 lg:px-8">
        <div class="bg-white shadow-md rounded px-4 sm:px-6 lg:px-8 pt-6 pb-8 mb-4 w-full max-w-lg mx-auto">
            <div class="text-center mb-4">
                <img src="static/logo.png" alt="Company Logo" class="mx-auto w-32 sm:w-32 lg:w-32 xl:w-32">
            </div>
            <h1 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-bold mb-2 text-center">Engage Lifelike AIs for Surveys and Polling</h1>
            <p class="text-gray-700 text-sm sm:text-base mb-4">
                Get started quickly and easily. You'll be able to email the poll participants once you get the results.
            </p>
          <a href="/dashboard"><button  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105 my-3">
              Agent Dashboard
          </button></a>
          
            <button id="startSession" class="my-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
                Start Polling Session
            </button>
          
            <div class="mt-6 text-center text-xs sm:text-sm text-gray-500">
                By starting a session, you agree to our 
                <a href="https://semantic-life.com/terms" class="text-blue-600 hover:underline">Terms of Service</a> and 
                <a href="https://semantic-life.com/privacy" class="text-blue-600 hover:underline">Privacy Policy</a>.
            </div>
        </div>
    </div>
    <div id="loading" class="fixed top-0 left-0 right-0 bottom-0 w-full h-full bg-opacity-50 bg-gray-800 flex items-center justify-center z-50 hidden">
        <!-- Loading Indicator Here -->
    </div>
    <script>
        $(document).ready(function() {
            $('#startSession').click(function() {
                $(this).prop('disabled', true).addClass('opacity-50 cursor-not-allowed');
                $('#loading').removeClass('hidden');
                $.post('/start_session', function() {
                    window.location.href = '/abe';
                }).fail(function() {
                    alert("An error occurred. Please try again.");
                    $('#startSession').prop('disabled', false).removeClass('opacity-50 cursor-not-allowed');
                    $('#loading').addClass('hidden');
                });
            });
        });
    </script>
</body>
</html>
