<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Meeting</title>
  <style>
    html, body {
      height: 100%;
      margin: 0;
    }
    #content {
      min-height: 100%;
      margin-bottom: -4rem;
    }
    #footer-push {
      height: 16rem;
    }
    footer {
      height: 4rem;
    }
    .agent-item {
      cursor: pointer;
    }
    .agent-item.selected {
      background-color: #d3e1ff;
    }
    .agent-item:hover {
      background-color: #e9f0ff;
    }
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.4/dist/tailwind.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="bg-blue-50 h-full">
  {% include 'header.html' %}
  <main class="flex-grow">
    <div class="container mx-auto px-4 py-8 mt-12">
      <div id="loading" style="display: none;">Loading...</div>
      <div class="mx-auto bg-white rounded-lg overflow-hidden md:max-w-lg px-4 py-8">
        <h1 class="text-2xl font-bold mb-2">Make a Meeting</h1>
        <h2 class="italic">1 credit per question or discussion point per synth.</h2>
        <form id="meetingForm" action="{{ url_for('meeting_blueprint.create_meeting') }}" method="post">
          <div class="mb-4">
            <label for="meeting_name" class="block text-xl font-bold mb-2 mt-4">Meeting Name:</label>
            <input type="hidden" id="selected_agents" name="selected_agents" value="">
            <input type="text" id="meeting_name" name="meeting_name" value="default_name" required class="w-full px-3 py-text-xl font-bold mb-2 border rounded-lg focus:outline-none">
          </div>
          <div class="mb-8">
            <h2 class="text-xl font-bold mb-2">Select Synths</h2>
            <div class="mb-4">
              <label for="agent_source" class="block text-gray-700 font-bold mb-2">Agent Source:</label>
              <select id="agent_source" name="agent_source" class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none">
                <option value="main_agents">Main Agents</option>
                <option value="timeframes">Timeframes</option>
              </select>
            </div>
            <div id="agent-list">
              <div class="mb-4 flex justify-between">
                <button type="button" id="select-all" class="px-4 py-2 text-sm md:px-6 md:py-3 bg-gray-400 text-white rounded-lg hover:bg-green-600">Select All</button>
                <button type="button" id="clear-all" class="px-2 py-1 text-sm md:px-2 md:py-1 bg-gray-200 text-white rounded-lg hover:bg-red-600">Clear All</button>
              </div>
            </div>
          </div>
          <input type="hidden" id="selected_agents" name="selected_agents" value="">
          <button type="submit" class="px-6 py-3 bg-green-600 text-white rounded-lg hover:bg-green-600">Next Step</button>
        </form>
      </div>
    </div>
  </main>
  <div id="footer-push"></div>
  {% include 'footer.html' %}
  <script>
    $(document).ready(function() {
      console.log("Document ready. Initializing event handlers...");
      var selectedAgents = [];

      // Event handler for agent source selection
      $('#agent_source').change(function() {
        var agentSource = $(this).val();
        loadAgents(agentSource);
      });

      // Event handler for "Select All" button
      $(document).on('click', '#select-all', function() {
        console.log("'Select All' button clicked. Selecting all agents.");
        $('.agent-item').each(function() {
          var agentId = $(this).data('agent-id');
          $(this).addClass('selected');
          addAgentToSelection(agentId);
        });
      });

      // Event handler for "Clear All" button
      $(document).on('click', '#clear-all', function() {
        console.log("'Clear All' button clicked. Clearing all agent selections.");
        $('.agent-item').each(function() {
          var agentId = $(this).data('agent-id');
          $(this).removeClass('selected');
          removeAgentFromSelection(agentId);
        });
      });

      // Event handler for individual agent item clicks
      $(document).on('click', '.agent-item', function(e) {
        e.preventDefault();
        if (e.target !== $(this).find('input[type="checkbox"]')[0]) {
          var agentId = $(this).data('agent-id');

          $(this).toggleClass('selected');
          if ($(this).hasClass('selected')) {
            addAgentToSelection(agentId);
          } else {
            removeAgentFromSelection(agentId);
          }
        }
      });

      // Adds an agent ID to the selection array
      function addAgentToSelection(agentId) {
        if (!selectedAgents.includes(agentId)) {
          selectedAgents.push(agentId);
          console.log(`Agent ${agentId} added to selection.`);
        }
      }

      // Removes an agent ID from the selection array
      function removeAgentFromSelection(agentId) {
        const index = selectedAgents.indexOf(agentId);
        if (index > -1) {
          selectedAgents.splice(index, 1);
          console.log(`Agent ${agentId} removed from selection.`);
        }
      }

      // Load agents based on the selected agent source
      // Load agents based on the selected agent source
      function loadAgents(agentSource) {
        console.log("Loading agents for source: ", agentSource);
        var endpoint;

        if (agentSource === 'main_agents') {
          endpoint = '{{ url_for("auth_blueprint.get_main_agents") }}';
        } else if (agentSource === 'timeframes') {
          endpoint = '{{ url_for("auth_blueprint.get_timeframe_agents") }}';
        }

        console.log("Endpoint for loading agents: ", endpoint);
        $.getJSON(endpoint, function(data) {
          console.log("Received agent data: ", data);
          var agentList = $('#agent-list');
          agentList.empty();
          data.forEach(function(agent) {
            var photoPath = `/${agent.photo_path}`;
            var agentItem = `
              <div class="agent-item flex items-center mb-2 bg-white shadow-md rounded-lg px-8 pt-6 pb-8" data-agent-id="${agent.id}">
                <input type="checkbox" id="agent-${agent.id}" name="selected_agents" value="${agent.id}" class="hidden">
                <img src="data:image/png;base64,${agent.image_data}" alt="Agent Profile" class="float-right w-12 h-12 md:w-28 md:h-28 rounded-full -ml-2 mr-4">
                
                <label for="agent-${agent.id}" class="text-gray-700 text-sm md:text-md">
                  <div class="text-lg md:text-xl font-bold mb-2">${agent.id}</div>
                  <div class="mb-2">${agent.jobtitle}</div>
                  <div class="mb-2">${agent.summary}</div>
                </label>
              </div>
            `;
            agentList.append(agentItem);
          });
        }).fail(function(jqXHR, textStatus, errorThrown) {
          console.error("Failed to load agents: " + textStatus + ", " + errorThrown);
        });
      }

      // Load Main Agents by default
      loadAgents('main_agents');

      // Update the form submission event listener
      $('form').on('submit', function(e) {
        $('#selected_agents').val(selectedAgents.join(','));
      });
    });
  </script>
</body>
</html>