<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Create New Moment</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.4/dist/tailwind.min.css" rel="stylesheet"/>
</head>
<body class="bg-blue-50">
  <div id="header">
  <div class="fixed top-0 left-0 right-0 z-50 bg-black text-white py-2 px-4 flex justify-between items-center">
      <a href="/">
          <img src="{{ url_for('static', filename='logo.png') }}" alt="Semantic Life" class="w-32">
      </a>
      <div class="flex">
          <a href="/" class="mr-4">
              <button class="bg-gray-500 hover:bg-blue-500 text-white py-2 px-4 rounded">Home</button>
          </a>
          <a href="{{ url_for('auth_blueprint.logout') }}">
              <button class="bg-gray-700 hover:bg-red-700 text-white py-2 px-4 rounded">Logout</button>
          </a>
      </div>
  </div>
    <div class="container mx-auto px-4 py-8 mt-12">
        <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden md:max-w-lg">
            <div class="md:flex">
                <div class="w-full p-5">
                    <div class="text-center mb-4">
                        <h1 class="font-bold text-2xl">Create New Moment</h1>
                    </div>
                    <form action="/create_agent_copy" method="post">
                        <div class="mb-4">
                            <label for="filename" class="block text-sm font-medium text-gray-700">New Moment Name</label>
                            <input type="text" id="filename" name="filename" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                        </div>

                        <div class="mb-4">
                            <label for="instruction1" class="block text-sm font-medium text-gray-700">Timepoint Description (including year)</label>
                            <textarea id="instruction1" name="instruction1" rows="4" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required></textarea>
                        </div>

                        <div class="mb-4">
                            <label for="instruction2" class="block text-sm font-medium text-gray-700">Setting</label>
                            <textarea id="instruction2" name="instruction2" rows="4" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>
                        </div>

                        <div class="mb-4">
                            <label for="instruction3" class="block text-sm font-medium text-gray-700">Plot Details</label>
                            <textarea id="instruction3" name="instruction3" rows="4" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>
                        </div>

                      <button type="submit" class="px-6 py-3 bg-blue-500 text-white rounded-lg hover:bg-blue-600 w-full">Create Copy</button>
                          <div class="text-center">
                              <img id="loading" src="{{ url_for('static', filename='loading.gif') }}" style="display: none; margin-top: 10px; max-width: 60px;" alt="Loading" />
                          </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
  <script>
  document.addEventListener('DOMContentLoaded', function() {
      const form = document.querySelector('form');
      const loading = document.getElementById('loading');

      form.addEventListener('submit', function(e) {
          const filenameInput = document.getElementById('filename');
          filenameInput.value = filenameInput.value.replace(/\s+/g, '_');

          loading.style.display = 'block';
      });
  });
  </script>
</body>
</html>