<!--templates/new_timeframe.html-->
<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Create New Timeframe</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.4/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
      }

      #content {
        min-height: 100%;
        margin-bottom: -4rem;
      }

      #footer-push {
        height: 4rem;
      }

      footer {
        height: 4rem;
      }

      .agent-item {
        cursor: pointer;
      }

      .agent-item.selected {
        background-color: #d3e1ff;
      }

      .agent-item:hover {
        background-color: #e9f0ff;
      }
    </style>
  </head>
  <body class="bg-blue-50 h-full">
    <div
      id="loadingPlaceholder"
      style="
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <img
        id="loading"
        src="{{ url_for('static', filename='loading.gif') }}"
        style="max-width: 180px"
        alt="Loading"
      />
    </div>
    <div id="insufficientCreditsOverlay" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50" style="display: none;">
      <div class="bg-white p-8 rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold mb-4">Insufficient Credits</h2>
        <p class="mb-4">You don't have enough credits to create a new timeframe. Please top up your credits to continue.</p>
        <button id="topUpButton" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Top Up Credits</button>
      </div>
    </div>
    {% include 'header.html' %}
    <main class="flex-grow">
      <div class="container mx-auto px-4 py-8 mt-12">
        <div class="mx-auto bg-white rounded-lg overflow-hidden md:max-w-lg">
          <div class="flex flex-col md:flex-row">
            <div class="w-full p-4 md:p-5">
              <div class="text-center mb-4">
                <h1 class="font-bold text-xl md:text-2xl">
                  Create New Timeframe
                </h1>
                <h3 class="text-lg md:text-xl">1-3 minutes per synth.</h3>
                <h4 class="text-md md:text-lg">
                  15 credits per synth adapted.
                </h4>
                <br />
                <div class="text-gray-400 text-sm">
                  Important: don't refresh the page.
                </div>
              </div>
              
                <form action="{{ url_for('auth_blueprint.create_timeframe') }}" method="post">
                <div class="mb-4">
                  <label for="name" class="block text-lg md:text-xl font-bold">Name this Timeframe:</label>
                  <input
                    type="text"
                    id="name"
                    name="name"
                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-sm md:text-sm"
                  />
                </div>
                <div class="mb-4">
                  <label
                    for="instruction1"
                    class="block text-sm font-bold text-gray-700"
                  >Describe the timepoint, including year:</label>
                  <textarea
                    id="instruction1"
                    name="instruction1"
                    rows="4"
                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-sm md:text-sm"
                    required
                  ></textarea>
                </div>
                <div class="mb-4">
                  <label
                    for="instruction2"
                    class="block text-sm font-bold text-gray-700"
                  >Describe the setting, including place:</label>
                  <textarea
                    id="instruction2"
                    name="instruction2"
                    rows="4"
                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-sm md:text-sm"
                  ></textarea>
                </div>
                <div class="mb-4">
                  <label
                    for="instruction3"
                    class="block text-sm font-bold text-gray-700"
                  >Describe the 'plot' and other context:</label>
                  <textarea
                    id="instruction3"
                    name="instruction3"
                    rows="4"
                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-sm md:text-sm"
                  ></textarea>
                </div>

                  <div class="mb-8">
                    <h2 class="text-lg md:text-xl font-bold mb-2">Select Synths:</h2>
                    <div id="agent-list">
                      {% for agent in base_agents %}
                        <div class="agent-item flex items-center mb-2 bg-white shadow-md rounded-lg px-8 pt-6 pb-8" data-agent-id="{{ agent.id }}">
                          <input type="checkbox" id="agent-{{ agent.id }}" name="selected_agents" value="{{ agent.id }}" class="hidden">
                          {% set thumbnail_key = agent.photo_path.split('/')[-1] + '_thumbnail' %}
                          {% if thumbnail_key in current_user.thumbnail_images_data %}
                            <img src="data:image/png;base64,{{ current_user.thumbnail_images_data[thumbnail_key] }}" alt="Agent Profile" class="float-right w-12 h-12 md:w-28 md:h-28 rounded-full -ml-2 mr-4">
                          {% else %}
                            <div class="float-right w-12 h-12 md:w-28 md:h-28 rounded-full bg-gray-200 -ml-2 mr-4"></div>
                          {% endif %}
                          <label for="agent-{{ agent.id }}" class="text-gray-700 text-sm md:text-md">
                            <div class="text-lg md:text-xl font-bold mb-2">{{ agent.id }}</div>
                            <div class="mb-2">{{ agent.jobtitle }}</div>
                            <div class="mb-2">{{ agent.summary }}</div>
                          </label>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                <button type="submit" class="px-4 py-2 md:px-6 md:py-3 bg-blue-500 text-white rounded-lg hover:bg-blue-600 w-full text-sm md:text-md">
                  Render Timeframe
                </button>
                <img
                  id="loadingOnSubmit"
                  src="{{ url_for('static', filename='loading.gif') }}"
                  style="display: none; margin-top: 10px; max-width: 60px"
                  alt="Loading"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div id="footer-push"></div>
    {% include 'footer.html' %}

    <script>
      window.onload = function () {
        var loadingPlaceholder = document.getElementById("loadingPlaceholder");
        if (loadingPlaceholder) {
          loadingPlaceholder.style.opacity = "0";
          setTimeout(function () {
            loadingPlaceholder.style.display = "none";
          }, 600);
        }
      };

      document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("form");
        const loadingOnSubmit = document.getElementById("loadingOnSubmit");
        const agentItems = document.querySelectorAll(".agent-item");
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');

        // Check if the user has insufficient credits
        {% if current_user.credits is none or current_user.credits <= 0 %}
          const insufficientCreditsOverlay = document.getElementById("insufficientCreditsOverlay");
          const topUpButton = document.getElementById("topUpButton");

          // Show the insufficient credits overlay
          insufficientCreditsOverlay.style.display = "flex";

          // Add click event listener to the top-up button
          topUpButton.addEventListener("click", function () {
            // Redirect the user to the /user page
            window.location.href = "{{ url_for('auth_blueprint.update_profile') }}";
          });
        {% endif %}

        // Modify the form submit event to log data to the console
        form.addEventListener("submit", function (e) {
          e.preventDefault(); // Prevent the default form submission

          const formData = new FormData(form);
          const payload = {};
          for (let [key, value] of formData.entries()) {
            if(payload.hasOwnProperty(key)) {
              if(!Array.isArray(payload[key])) {
                payload[key] = [payload[key]];
              }
              payload[key].push(value);
            } else {
              payload[key] = value;
            }
          }

          console.log("Form payload to be sent to process_agents via create_timeframe:", payload);

          // Show the loading GIF when the form is being submitted
          if (loadingOnSubmit) {
            loadingOnSubmit.style.display = "block";
          }

          form.submit(); // Now submit the form programmatically
        });

        // Your existing code for handling agent item clicks
        agentItems.forEach((item) => {
          item.addEventListener("click", function (e) {
            // Prevent form from submitting if the form is clicked
            e.preventDefault();

            // Check the clicked element is not the checkbox itself
            if (e.target !== this.querySelector('input[type="checkbox"]')) {
              const checkbox = this.querySelector('input[type="checkbox"]');
              checkbox.checked = !checkbox.checked;
              this.classList.toggle("selected", checkbox.checked);
            }
          });
        });
      });
    </script>

  </body>
</html>