<!--templates/timeframes.html--> 

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timeframes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      /* Add any custom styles here */
    </style>
  </head>
  <body class="bg-gray-100 min-h-screen flex flex-col">
    {% include 'header.html' %}
    <main class="container mx-auto px-4 py-12 flex-grow">
      <h1 class="text-4xl font-bold mb-6 mt-6">Timeframes</h1>
      {% if timeframes %}
        {% for timeframe in timeframes %}
          <div class="bg-white rounded-lg shadow-md p-4 mb-8">
            <div class="flex items-center mb-4">
              <img src="{{ url_for('dashboard_blueprint.serve_timeframe_image', timeframe_id=timeframe.id) }}" alt="{{ timeframe.name }}" class="w-32 h-32 rounded-lg object-cover mr-4">
              <div>
                <h2 class="text-3xl font-bold">{{ timeframe.name }}</h2>
                <p class="text-lg text-gray-700">{{ timeframe.summary }}</p>
              </div>
            </div>
            <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
              {% for agent in timeframe.parsed_agents_data %}
              <div class="bg-white rounded-lg shadow-md p-4">
                  <a href="{{ url_for('profile_blueprint.profile', agent_id=agent['id'], timeframe_id=timeframe.id) }}" class="block text-center">
                      {% if 'photo_path' in agent %}
                      <img src="{{ url_for('serve_image', filename=agent['photo_path'].split('/')[-1]) }}" alt="{{ agent['id'] }}" class="w-24 h-24 rounded-full mx-auto mb-2">
                      {% else %}
                      <div class="w-24 h-24 rounded-full mx-auto mb-2 bg-gray-200"></div>
                      {% endif %}
                      <h3 class="text-xl font-bold">{{ agent['id'] }}</h3>
                      <p class="text-gray-600">{{ agent['jobtitle'] }}</p>
                  </a>
              </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p class="text-gray-500">No timeframes found.</p>
      {% endif %}
    </main>
    {% include 'footer.html' %}
  </body>
</html>